"set mouse=a
set number
"nnoremap <C-L> :nohl<CR><C-L>
set tabstop=2
set autoindent
set ignorecase
set smartcase
filetype indent plugin on
syntax on
colorscheme industry

"the blue line at 80 chars
set colorcolumn=80
hi ColorColumn ctermbg=lightcyan guibg=blue

"shorten command for swapping between split views
nnoremap <C-L> <C-W><C-L>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-J> <C-W><C-J>
nnoremap <C-H> <C-W><C-H>

"copy and paste to clipboard
onoremap<y-y> "*y

"Things I have needed for remote servers
"inoremap <Char-0x07f> <BS>
"nnoremap <Char-0x07f> <BS>
